* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table-container {
  overflow-x: auto;
  justify-content: center;
  margin: 20px; /* Added margin for better spacing */
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  
}
.action-button {
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
}

tr:nth-child(even) { 
  background-color: #ececec; 
}
.data-table th,
.data-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  justify-items: center;
  align-items: center;
  white-space: nowrap; /* Prevent wrapping for better readability */
}

.data-table th {
  background-color: #242323;
  color : white;
  padding-left: 15px;
  padding-right: 15px;

}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .data-table {
      border: 0;
  }


  .data-table th,
  .data-table td {
      padding: 4px;
      display: block;
      text-align: center;
  }

  .data-table th {
      background-color: transparent;
      border: 0;
  }

  .data-table td {
      border-bottom: 1px solid #ddd;
  }


}

.button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}